apiVersion: apps/v1
kind: Deployment
metadata:
  name: mynodejs-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mynodejs-app
  template:
    metadata:
      labels:
        app: mynodejs-app
    spec:
      containers:
      - name: mynodejs-app
        image: amritpoudel/demo-app:latest
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
